<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBwv9g-P9f0pv6fcxaG3U0PWh5jVEd4tug</string>
	<key>GCM_SENDER_ID</key>
	<string>581563357515</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.caretaker.qlickcare</string>
	<key>PROJECT_ID</key>
	<string>qliqcare-b9670</string>
	<key>STORAGE_BUCKET</key>
	<string>qliqcare-b9670.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:581563357515:ios:3aa71c4e2d54ae20c770ce</string>
</dict>
</plist>